<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./public/groupForm.css">
    <title>Document</title>
   
</head>
<body>
 
    <div class="container">
        <header class="chat-header">
            <h1><i class="fas fa-smile"></i> ChatCord</h1>
            <h2>Group Settings</h2>
            <a id="leave-btn" class="btn2">Leave Room</a>
          </header>
        <div class="container1">
            <div class="container3">
                <div class="features">
                    <nav>
                    <button class="btn" id="one-to-one-chat">Private Chat</button>
                    <button class="btn" id="group-chat">Group Chat</button>
                    <button class="btn" id="create-group">Group Settings</button>
                </nav>
                <div id="list-of-all-groups" >
                    <h4>list of all groups</h4>
                    <ul  id="created-group-show">
        
        
                    </ul>
               
                
                    <ul id="users-list">
        
                    </ul>
                </div>
            </div>
        </div>
            <div class="container4">
                <div id="list-contcts">
                    <h4 style="padding: 10px;">list of all contacts</h4>
                    <ul id="list-of-all-contacts">
        
                    </ul>
                </div>
            </div>
        </div>
        <div class="container2">
            <div>
                <form id="create-container" onsubmit="createGroup(event)">
                    <h3><u>CREATE NEW GROUP</u></h3>
                    <input type="text" class="entry" name="creategroup" id="create-group-name-user" placeholder="Enter group name"><br>
                    <button class="btn4" type="submit" >Create</button>
               </form>
               <form id="create-group-user" onsubmit="addUserToGroup(event)">
                <h3><u>ADD NEW USER</u></h3>
                <div>
                    <input type="text" class="entry"  name="grpname" placeholder="Enter group name" />
                    <input type="email" class="entry"  name="email" placeholder="Email In contact">
                    <div>
                        <input type="radio" id="admin-yes" name="admin" />
                        <label for="admin-yes">Admin</label>
                    </div>
                    <div>
                        <input type="radio" id="admin-no" name="admin" checked />
                        <label for="admin-no">Not Admin</label>
                    </div>
                </div>
                <button class="btn4"type="submit">Add</button>
            </form>
            <form id="remover-user" onsubmit="removeUser(event)">
                <h3><u>REMOVE USER</u></h3>
                <div>
                    <input type="text" class="entry"  id="remove-group-user" name="removeName" placeholder="Enter group name" />
                    <input type="email" class="entry"  id="remove-email" name="removeEmail" placeholder="Email In group" />
                </div>
                <button class="btn4" type="submit">Remove</button>
            </form>
            </div>
        </div>
 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const createdGroupShow= document.getElementById('created-group-show')
const userRight = document.getElementById('right')
const listContact = document.getElementById('list-of-all-contacts')
const messageHeader=document.getElementById('message-card-header')
const chatMessage=document.getElementById('chat-messages')
const addToUser=document.getElementById('create-group-user')
const toast=document.getElementById('toast-msg')
const adminTrue=document.getElementById('admin-yes')
const adminFalse=document.getElementById('admin-no')
const oneChat=document.getElementById('one-to-one-chat')
const groupChat=document.getElementById('group-chat')
groupChat.addEventListener('click',groupTalk)
function groupTalk(){
    window.location.href="./groupChat.html"
}
oneChat.addEventListener('click',onetoone)
function onetoone(){
    window.location.href="./chat.html"
}
function createToast(msg, color = "red"){
    console.log('true')
    const div = document.createElement("div");
    div.innerHTML = msg;
    div.style.backgroundColor = color;
    div.style.padding = "1rem 2rem";
    div.style.borderRadius = "4px";
    div.style.color = "#fff";
    console.log(div.innerText)
    toast.append(div)
    console.log(toast)
    setTimeout(() => {
      div.remove();
    }, 2000);
  }
async function createGroup(e){
    try{
    e.preventDefault();
    const creategrpdata={
        groupName:e.target.creategroup.value
    }
    console.log(creategrpdata)
    const token=localStorage.getItem('token')
    const response=await axios.post('http://localhost:3000/group/creategroup',creategrpdata,{headers:{"Authorization":token}})
    console.log(response)
    if(response.status ==201){
        createToast(response.data.message,"green")
    }
    }catch(err){
        if(err.response.status==500){
            createToast(err.response.data.message)
        }
    }
}
async function getContacts(){
    listContact.innerHTML="";
    const token=localStorage.getItem('token')
    const response = await axios.get('http://localhost:3000/group/allusers',{headers:{"Authorization":token}})
    const user1 =response.data.user;
    user1.forEach((user)=>{
        const childNodes=`<li class="list-group-item" >${user.email}<input type="hidden" class="user-id" value=${user.id} /></li>`
        listContact.innerHTML +=childNodes
    })
    
    
}
async function addUserToGroup(e){
    try{
    e.preventDefault()
    const adduser={
        groupName:e.target.grpname.value,
        email:e.target.email.value,
        isAdmin:adminTrue.checked === true ? true :false
    
    }
    console.log(adduser)
    const token=localStorage.getItem('token')
    const response=await axios.post('http://localhost:3000/group/adduser',adduser,{headers:{"Authorization":token}})
    console.log(response)
}catch(err){
    console.log(err)
}
}
async function removeUser(e){
    try{
    e.preventDefault()
    const removeanyuser={
      groupName:e.target.removeName.value,
      email:e.target.removeEmail.value
    }
    console.log(removeanyuser)
    const token=localStorage.getItem('token')
    const response = await axios.post('http://localhost:3000/group/deleteuser',removeanyuser,{headers:{"Authorization":token}})
    console.log(response)
}catch(err){
    console.log(err)
}
}
async function allShowgroup(){
    try{
    createdGroupShow.innerHTML="";
    const token=localStorage.getItem('token')
    const response=await axios.get('http://localhost:3000/group/allgroups',{headers:{"Authorization":token}})
    console.log(response)
    const group1=response.data.group
    console.log(group1)
    group1.forEach((group)=>{
        const childNodes=`<li class="list-group-item" >${group.groupName}<input type="hidden" class="user-id" value=${group.id} /></li>`
        createdGroupShow.innerHTML +=childNodes
    })
}catch(err){
    if(err.response.status==500){
        createToast(err.response.data.message)
    }
}
}
function showScreen(){
    getContacts()
    allShowgroup()
    }

window.addEventListener('DOMContentLoaded',showScreen)

document.getElementById('leave-btn').addEventListener('click', () => {
  const leaveRoom = confirm('Are you sure you want to leave the chatroom?');
  if (leaveRoom) {
    window.location = './login.html';
  } else {
  }
});
    </script>
</body>
</html>