<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/groupChat.css">
    <title>Document</title>
    
</head>
<body>
    <nav>
        
        <img class="logo"src="../img/chat.png" >
        <h2>Chat App</h2>
        <h2>Group Chat</h2>
    </nav>
    <div class="container">
        <div>
            <nav>
            <button class="btn" id="one-to-one-chat">Private Chat</button>
            <button class="btn" id="group-chat">Group Chat</button>
            <button class="btn" id="create-group">Create Group</button>
        </nav>
        <div >
            <ul  id="left">


            </ul>
       
        
            <ul id="users-list">

            </ul>
        </div>
    </div>
    <div class="card-header" id="message-card-header">
                  <!-- Message to : <span></span> -->
                </div>
    <ul id="chat-messages">

    </ul>
    <div id="toast-msg"></div>
        <!-- <div class="message left" id="right">rahul:i am fine</div> -->
    </div>
    <div class="send">
        <form id="send-container" onsubmit="chat(event)">
             <input type="text" name="group2" id="messageinp" placeholder="Enter Message">
             <button class="btn" type="submit" >Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const userLeft = document.getElementById('left')
const userRight = document.getElementById('right')
const messageHeader=document.getElementById('message-card-header')
const groupMessage=document.getElementById('chat-messages')
const toast=document.getElementById('toast-msg')
const oneChat=document.getElementById('one-to-one-chat')
const creategroup=document.getElementById('create-group')

oneChat.addEventListener('click',onetoone)
function onetoone(){
    window.location.href="./chat.html"
}

creategroup.addEventListener('click',Crategroup)
function Crategroup(){
    window.location.href="./groupForm.html"
}

let groupId;
function createToast(msg, color = "red"){
    console.log('true')
    const div = document.createElement("div");
    div.innerHTML = msg;
    div.style.backgroundColor = color;
    div.style.padding = "1rem 2rem";
    div.style.borderRadius = "4px";
    div.style.color = "#fff";
    console.log(div.innerText)
    toast.append(div)
    console.log(toast)
    setTimeout(() => {
      div.remove();
    }, 2000);
  }
async function allLoginUsers(){
    const token=localStorage.getItem('token')
    userLeft.innerHTML=""
   await axios.get('http://localhost:3000/group/allusersgroup',{headers:{"Authorization":token}})
   .then(response=>{
    console.log(response)
    console.log(response.data.user)
    const user1=response.data.user
    user1.forEach((user)=>{
        const childNodes=`<li class="list-group-item" >${user.groupName}<input type="hidden" class="user-id" value=${user.id} /></li>`
        userLeft.innerHTML +=childNodes
    })
   })
   
}
function userClick(e){
    if(e.target.className == "list-group-item"){
        // console.log(e.target)
        // console.log(e.target.textContent)
        // console.log(e.target.children[0].value)
        const name = e.target.textContent;
        const id = +e.target.children[0].value;
        groupId=id;
        const userMessage = `Message to Group: ${name} <input type='hidden' id='msg-header-user-id' value='${id}'/>`;
        console.log(userMessage)
        messageHeader.innerHTML=userMessage;
        groupMessage.innerHTML="";
        getGroupMessages(id);
    }
}
async function  getGroupMessages(groupId =0){
    console.log('dhf')
    groupMessage.innerHTML="";
    const token=localStorage.getItem('token')
    const response= await axios.get(`http://localhost:3000/group/allgroupmessages/${groupId}`,{headers:{"Authorization":token}})
    console.log(response)
   if(response.status ==200 && response.data.groupMessages){
      const chats=response.data.groupMessages;
      chats.forEach((group)=>{
        console.log(group)
        const chatNodes=`<li class="list-group-item1">${group.userName}:${group.groupMessage}</li>`
        groupMessage.innerHTML +=chatNodes
      })
   }
}
async function chat(e){
    e.preventDefault()
    const id1 = +document.getElementById('msg-header-user-id').value;
    const group1=e.target.group2.value;
    if(!group1){
       return createToast('plzz enter the message')
    }
    try{
    const groupDetails={
       groupMessage: group1,
       groupId:id1
    }
    console.log(groupDetails)
    const token=localStorage.getItem('token')
    await axios.post('http://localhost:3000/group/groupmessage',groupDetails,{headers:{"Authorization":token}})
    .then(response=>{
        console.log(response)
        if(response.status ===200){
            createToast(response.data.message)
        }
    })
}catch(err){
    console.log(err)
    if(err.response.status===400){
        createToast(err.response.data.message)
    }
    if(err.response.status===500){
        createToast(err.response.data.message)
    }
}
}
function showScreen(){
    allLoginUsers()
    setInterval(()=>{
    getGroupMessages(groupId)
    },5000)
    }

window.addEventListener('DOMContentLoaded',showScreen)
userLeft.addEventListener('click',userClick)
    </script>
</body>
</html>