<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/login.css">
</head>

    <div class="container">
     <h2>LOGIN</h2>
    <form class="submission-form" onsubmit="login(event)">
        <input type="email" name="email" placeholder="ENTER YOUR EMAILID"required /><br>
        <input type="password" name="password" placeholder="ENTER YOUR PASSWORD" required /><br>
        <br>
        <button class="btn1">Login</button><br>
        <a href="./SignUp.html"> NEW USER >>>> SIGN UP</a><br><br>
    </form>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>function login(e){
        e.preventDefault()
        const loginDetails={
            email:e.target.email.value,
            password:e.target.password.value
    
        }
        axios.post("http://localhost:3000/user/login",loginDetails)
        .then(response=>{
            console.log(response)
            if(response.status==200){
                alert(response.data.message)
                localStorage.setItem('token',response.data.token)
                window.location.href="./chat.html"
            }else{
                throw new Error(response.data.message)
            }
        })
        .catch(err=>{
            console.log(err)
            console.log(err.response.data.message)
            if(err.response.status ===400){
            document.body.innerHTML += `<div style="color:red";>${err.response.data.message}</div>`
            }
            if(err.response.status ===401){
                alert(err.response.data.message)
            }
            if(err.response.status ===404){
                alert(err.response.data.message)
            }
            
    
        })
        
    }</script>
</body>
</html>