@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: rgb(240, 170, 170);
}

body {
  margin: 0;
  
  height: 100vh;
  background: #e1d7b1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  margin-bottom: 10px;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px  rgb(173, 145, 92), -14px -14px 20px rgb(173, 145, 92);
}
#absolute {
    
    background-color: #C3B1E1;
   
    bottom: 10px;
    right: 40px;
  }
.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://png.pngtree.com/png-clipart/20190614/original/pngtree-chat-vector-icon-png-image_3791366.jpg");
  background-size: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: black;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  margin-top: 6px;
  font-size:14px;
}



input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: rgb(11, 11, 11);
  margin-top: 20px;
  background: #bc7349;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
  color: white;
}

.ProfRefer {
  position: absolute;
  font-size: 10px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: #BDB5D5;
  border-radius: 10px;
  padding: 2px;
}

h2 {
  color: #bc7349;
}
.pageRefer{
    margin-top: 10px;
}
body{
   
    background-size:cover;
    background-repeat: no-repeat;
   
    background-attachment: fixed;

}